<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th></th>
        <th>Lp.</th>
        <th>Nazwa</th>
        <th>Ilość</th>
        <th></th>
    </tr>
    </thead>
    <tr ng-repeat='item in items | orderBy:"name"' ng-class="{danger: item.danger()} ">
        <td class="shrink"><span ng-repeat="badge in item.badges" ng-class="badge | badges"></span></td>
        <td class="shrink">{{$index + 1}}.</td>
        <td class="expand">{{item.name}}</td>
        <td class="shrink">{{item.amount}}</td>
        <td class="shrink">
            <button class="btn btn-xs btn-success">Szczegóły</button>
        </td>
    </tr>
</table>